<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="{{ MEDIA_URL }}img/favicon.ico" type="image/x-icon" />
    <title>{% block title %}title{% endblock %}</title>
    {% block extra_head %}{% endblock %}
  </head>
  {% block body %}
  <body>
    <div id="wrap">
      <div id="header">
        <h1>{% block header_title %}header title{% endblock %}</h1>
      </div>
      <div id="content">
        {% block main %}{% endblock %}
      </div>
      <div id="footer">
        <img alt="Powered by Google App Engine" src="http://code.google.com/appengine/images/appengine-silver-120x30.gif" width="120" height="30"/>
      </div>
    </div>
  </body>
  {% endblock body %}
</html>
