{% extends "base.html" %}

{% block title %}Shinya Okano (tokibito / nullpobug) 岡野真也{% endblock %}

{% block extra_head %}
<link type="text/css" rel="stylesheet" media="only screen and (max-device-width:480px)" href="{{ MEDIA_URL }}css/smartphone.css"/>
<link type="text/css" rel="stylesheet" media="screen and (min-device-width:481px)" href="{{ MEDIA_URL }}css/main.css"/>
<script type="text/javascript">
var isSmartPhone = (navigator.userAgent.match(/Android|iPhone/) != null);
</script>
{% endblock %}

{% block header_title %}Shinya Okano (tokibito / nullpobug) 岡野真也{% endblock %}

{% block main %}
<h2>About</h2>
<p>I am a computer programmer in Japan.</p>
<script type="text/javascript" src="http://widgets.twimg.com/j/2/widget.js"></script>
<script type="text/javascript">
var widgetConfig = {
  version: 2,
  type: 'profile',
  rpp: 4,
  interval: 6000,
  width: 600,
  height: 300,
  theme: {
    shell: {
      background: '#333333',
      color: '#ffffff'
    },
    tweets: {
      background: '#000000',
      color: '#ffffff',
      links: '#4aed05'
    }
  },
  features: {
    scrollbar: false,
    loop: false,
    live: false,
    hashtags: true,
    timestamp: true,
    avatars: true,
    behavior: 'all'
  }
};
if (isSmartPhone) {
  widgetConfig.width = 305;
  widgetConfig.height = 100;
}
new TWTR.Widget(widgetConfig).render().setUser('tokibito').start();
</script>

<h2>Accounts</h2>
<ul>
  <li><strong>Twitter</strong>: <a href="http://twitter.com/tokibito">Shinya Okano (tokibito) on Twitter</a></li>
  <li><strong>Hatena::Diary</strong>: <a href="http://d.hatena.ne.jp/nullpobug/">偏った言語信者の垂れ流し</a></li>
  <li><strong>Bitbucket</strong>: <a href="http://bitbucket.org/tokibito">tokibito - Bitbucket</a></li>
  <li><strong>GitHub</strong>: <a href="https://github.com/tokibito">tokibito's Profilie - GitHub</a></li>
  <li><strong>Vector</strong>: <a href="http://www.vector.co.jp/vpack/browse/person/an028567.html">作者: 岡野 真也</a></li>
</ul>

<h2>Works</h2>
<ul>
  <li><a href="http://www.beproud.jp/">株式会社ビープラウド</a></li>
</ul>

<h3>Photos</h3>
<div>
  <img src="http://static2.nullpobug.com.s3.amazonaws.com/public/img/okano1.jpg" width="175" height="175" alt="21 years old"/>
  <img src="http://static2.nullpobug.com.s3.amazonaws.com/public/img/okano.jpg" width="96" height="96" alt="sleeping..."/>
  <img src="http://static2.nullpobug.com.s3.amazonaws.com/public/img/crosskylix4_96.jpg" width="96" height="96" alt="delphi fan"/>
  <img src="http://static2.nullpobug.com.s3.amazonaws.com/public/img/cb400sf.jpg" width="150" height="113" alt="Honda CB400SF"/>
</div>

<h3>Presentations</h3>
<ul>
  {% for obj in presentation_objects %}
    <li>
      <a href="/presentation/{{ obj.slug }}.html">{{ obj.title }}</a> ({{ obj.created_at|date:"Y/m/d H:i" }})
      {% if not is_smartphone %}{% if forloop.first %}<br/><iframe src="/presentation/{{ obj.slug }}.html" width="400" height="300"></iframe>{% endif %}{% endif %}
    </li>
  {% endfor %}
</ul>

<h3>Books</h3>
<div class="amazon">
  <a href="http://www.amazon.co.jp/gp/product/4798032948/ref=as_li_tf_il?ie=UTF8&tag=tokibitossoft-22&linkCode=as2&camp=247&creative=1211&creativeASIN=4798032948"><img border="0" src="http://ws.assoc-amazon.jp/widgets/q?_encoding=UTF8&Format=_SL110_&ASIN=4798032948&MarketPlace=JP&ID=AsinImage&WS=1&tag=tokibitossoft-22&ServiceVersion=20070822" ></a><img src="http://www.assoc-amazon.jp/e/ir?t=tokibitossoft-22&l=as2&o=9&a=4798032948" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
  <a href="http://www.amazon.co.jp/gp/product/4048676938/ref=as_li_tf_il?ie=UTF8&tag=tokibitossoft-22&linkCode=as2&camp=247&creative=1211&creativeASIN=4048676938"><img border="0" src="http://ws.assoc-amazon.jp/widgets/q?_encoding=UTF8&Format=_SL110_&ASIN=4048676938&MarketPlace=JP&ID=AsinImage&WS=1&tag=tokibitossoft-22&ServiceVersion=20070822" ></a><img src="http://www.assoc-amazon.jp/e/ir?t=tokibitossoft-22&l=as2&o=9&a=4048676938" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
</div>

<h3>AppEngine</h3>
<div>
<pre>{{ sys_version }}</pre>
</div>
{% endblock %}
